

<div class="col-md-6 offset-md-3">   
    <div class="container md-5">
        <h2>{{header}}</h2>
    </div> 
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label form=""> id</label>
            <input type="text" class="form-control" id = "id" placeholder = "Enter id"
                [(ngModel)]="employee.id" name="id">
        </div>

        <div class="form-group">
            <label form=""> Name</label>
            <input type="text" class="form-control" id = "firstName" placeholder = "Enter Name"
                [(ngModel)]="employee.name" name="name">
        </div>
    
    
        <div class="form-group">
            <label form=""> Salary</label>
            <input type="text" class="form-control" id = "lastName" placeholder = "Enter salary "
                [(ngModel)]="employee.salary" name="salary">
        </div>
    
    
        <div class="form-check">
            <input class="form-check-input" type="radio"  name="flexRadioDefault" id="flexRadioDefault1"  >
            <label class="form-check-label" for="flexRadioDefault1">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"  checked>
            <label class="form-check-label" for="flexRadioDefault2" >
              Female
            </label>
          </div>

        <div class="form-group" style="margin-top: 10px;">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
        
    </form>
    </div>